# Zig directories
.zig-cache/
.zig-out/

# Log files
*.log
*.log.*

# Vemod binary files
*.vbf

# Make
Makefile

# Helix
.helix/

# VS Code
.vscode
*.vsix

# Nix result symlink
result

# Dotfiles
.bashrc
.nvimrc
